@import "variables";

.content {
  display: grid;
  grid-template-columns: repeat(auto-fill, $product-card-width);
  justify-content: center;
  gap: $row-gap $column-gap;
  max-width: $product-card-width * 4 + $column-gap * 3;
}
